<div>
    {{ form_row(form.url, {'label': 'Lien', 'attr': {'required' : 'false',
                                                         'placeholder' : 'Selectionnez une vidéo'}}) }}
    <button type="button" class="btn btn-remove fa fa-trash fa-lg">Supprimer</button>
</div>
