{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}

<!-- Contact-->
    <section class="page-section" id="contact">
        <div class="container">
            <div class="text-center" style="margin:3rem;">

                <h1>Entrez votre nouveau mot de passe</h1>

                {{ form_start(resetForm) }}
                    {{ form_row(resetForm.plainPassword) }}
                    <button class="btn btn-primary">Changer mon mot de passe</button>
                {{ form_end(resetForm) }}
            </div>
        </div>
    </section>

{% endblock %}
