{% extends 'base.html.twig' %}

{% block title %}Edit Trick{% endblock %}

{% block body %}

<!-- Contact-->
    <section class="page-section" id="contact">
        <div class="container">
            <div class="text-center" style="margin:3rem;"> 
        
                {% for flash_error in app.flashes('verify_email_error') %}
                    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                {% endfor %}

                <h1 class="h3 mb-3 font-weight-bold">Modifiez votre figure</h1><br><br>
                
                {{ include('trick/trick_form.html.twig', {'button_label': 'Update'}) }}

                {# <a href="{{ path('home') }}">Retour a la liste des figures</a> #}

            </div>
        </div> 
    </section>       

    
{% endblock %}
